body{
	background-color: #aca9ab;
	margin: 8px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 8px;
    margin-left: 50px;
}

.site_title{
	text-align: left;
	text-decoration: underline overline wavy;
	color:#ffffff;
	display: inline-block;
}

.links{
	text-align: right;
	text-decoration: none;
	display: block
}

a:link, a:visited{
	color: #ffffff;
	}
a:hover, a:active{
	color: #fffbc6
	}


img{
	display: inline-block;
	width: 250px;
	border-style: dashed;
	border-width: 1px;
	border-color: #f9f7e2;
	margin:45px;
}





